.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --color-base: #301d55;
  --color-base-b: #4b2e83;
  --color-support:  #f7e1a6;
  --color-support-a:  #fff8e3;
  --color-support-b: #b6a67f;
  --color-support-c: #855a3c;
  --color-attributes: #855a3c40;
  --color-gray: #5e5d5d;
  --color-p: #000000;

  --main-font: 'Cinzel Decorative', serif;
  --support-font: 'Open Sans', Arial, sans-serif;
}

/* Base elements */ 
body { background-color: var(--color-base); font-family:var(--support-font)}

/* Fonts Import */
/* Comentar as fontes não usadas */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap'); /* font-family: 'Open Sans', sans-serif; */ 
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;800;900&display=swap'); /* font-family: 'Alegreya', serif; */ 
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap'); /* font-family: 'Playfair Display', serif; */ 
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap'); /* font-family: 'Playfair Display SC', serif; */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap'); /* font-family: 'Cinzel Decorative', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap'); /* font-family: 'Germania One', cursive; */

/* Color Classes */
.bg-base { background-color: var(--color-base); }
.bg-base-b { background-color: var(--color-base-b); }
.bg-support { background-color: var(--color-support); }
.bg-support-b { background-color: var(--color-support-b); }



/* Utilities */
.h-1 { height: 50px; }

.border-radius-8 { border-radius: 8px; }
.border-radius-16 { border-radius: 16px; }
.border-radius-32 { border-radius: 32px; }

.brd-bottom { border-bottom: solid 3px var(--color-support-c);}

.op-1 { opacity: 0.25; }
.op-2 { opacity: 0.5; }
.op-3 { opacity: 0.75; }

/* Formularios */



/* Compontentes */

.btn-main { border: solid 1px var(--color-support); border-radius: 18px; color: var(--color-support); background-color: none !important; padding: 8px 25px; transition: 0.8s; }
.btn-main:hover { transform: scale(1.08); transition: 0.8s; color: var(--color-support-b); border: solid 1px var(--color-support-b); }
button.btn-main { background-color: none !important; }

.btn-support { border: solid 1px var(--color-base); border-radius: 18px; color: var(--color-base); background-color: none !important; padding: 8px 25px; transition: 0.8s; }
.btn-support:hover { transform: scale(1.08); transition: 0.8s; color: var(--color-base-b); border: solid 1px var(--color-base-b); }
button.btn-support { background-color: none !important; }

.bg-dark-card-25 { background-color: #00000025; }
.bg-dark-card-50 { background-color: #00000050; }
.bg-dark-card-75 { background-color: #00000075; }

.card-main { filter: drop-shadow(2px 2px 4px #00000020);transition: 0.5s;  }
.card-main:hover { filter: drop-shadow(10px 10px 14px #00000050); transform: scale(1.09);transition: 0.3s;  }
.card-height { min-height: 350px; }
.card-header-custom { height: 250px; }

.icon-card { color:#fff; font-size: 2rem; }

.monster-category {  font-size:0.8rem; font-family:var(--support-font); font-weight: 300; color:var(--color-support); }
.monster-name { font-size:2.4rem; font-family:var(--main-font); font-weight: 800; color:var(--color-support); }
.monster-quote { font-size:1.0rem; font-family:var(--support-font); font-weight: 300; color:var(--color-support); }

.search-header { background-color: var(--color-support-b); border-radius: 24px; height: 100%; width: 100%;}
.input-searchbar { width: 80%; border: none; background-color: var(--color-support-b); color: #353535;}
.input-searchbar:focus { outline: none; border: none; }
#searchbar::placeholder { color: #35353580; }
#searchbar:-ms-input-placeholder { color: #35353580; }
#searchbar::-ms-input-placeholder { color: #35353580; }

.detail-bg { background-color: var(--color-support); filter: drop-shadow(10px 10px 14px #00000050); border-radius: 36px; }
.detail-header { height: 350px; border-radius: 36px 36px 0 0;}
h1.detail-titles { font-size:5rem; color: var(--color-base); font-family: var(--main-font); font-weight: 900;  }
h2.detail-titles { font-size:2.4rem; color: var(--color-support-c); font-family: var(--main-font); font-weight: 900;  }
h3.detail-titles { font-size:1rem !important; color: var(--color-support-c); font-family: var(--support-font) !important; font-weight: 400; }
p.detail-text { font-size:1rem; color:var(--color-p); font-family: var(--support-font); font-weight: 300;  }
.attributes { border-top: solid 3px var(--color-support-c); border-bottom: solid 3px var(--color-support-c); }
.attributes h2 { font-family: var(--main-font); font-weight: 900; font-size: 3rem; color: var(--color-support-c); margin: 0; padding-top: 0 !important; }
.attributes p { margin: 0; padding-bottom: 0 !important; }
.strong.dest { color: var(--color-support-c); font-weight: 900;}

/* Animações */

.spin { animation: animation-spin infinite 3s linear; }

@keyframes animation-spin { 
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }